---
layout: default
---
<main>
    <section>
        <header>Hayden McAfee</header>
        <p>Hello, I'm Hayden!</p>
        <p>I love learning and building all sorts of things, but I mainly create software.</p>
        <p>Check out some of my work below!</p>
    </section>

    <section>
        <header>Projects</header>
        <ul>
            {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
            {% for project in sorted_projects limit: 3 %}
            <li>
                <header>
                    {% if project.icon %}
                        {% include {{ project.icon | prepend: 'svg/' }} %}
                    {% endif %}
                    <div class="text">
                        <div class="team"><a href="{{ project.url }}">{{ project.title }}</a></div>
                        <div class="title">{{ project.subtitle }}</div>
                        <div class="time">{{ project.date | date: "%Y" }}</div>
                    </div>
                </header>
                <p>{{ project.description }}</p>
            </li>
            {% endfor %}
            <li>
                <a href="{% link projects.html %}">
                    {% include svg/doublechevron.svg %}
                    <div>All Projects</div>
                </a>
            </li>
        </ul>
    </section>

    <section>
        <header>Work</header>
        <ul>
            {% assign sorted_work = site.work | reverse %}
            {% for work in sorted_work limit: 3 %}
            <li>
                <header>
                    {% if work.icon %}
                        {% include {{ work.icon | prepend: 'svg/' }} %}
                    {% endif %}
                    <div class="text">
                        <div class="team"><a href="{{ work.url }}">{{ work.team }}</a></div>
                        <div class="title">{{ work.role }} at {{ work.company }}</div>
                        <div class="time">{{ work.start_year }}—{{ work.end_year }}</div>
                    </div>
                </header>
                <p>{{ work.description }}</p>
            </li>
            {% endfor %}
            <li>
                <a href="{% link work.html %}">
                    {% include svg/doublechevron.svg %}
                    <div>All Work</div>
                </a>
            </li>
        </ul>
    </section>

    <section>
        <header>Posts</header>
        <ul>
            {% for post in site.posts limit: 3 %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
            <li>
                <a href="{% link posts.html %}">
                    {% include svg/doublechevron.svg %}
                    <div>All Posts</div>
                </a>
            </li>
        </ul>
    </section>
</main>