---
title: Projects
layout: default
---
<main>
    <header>
        <h2><a href="{% link index.html %}">Hayden/</a></h2>
        <h1>Projects</h1>
    </header>
    {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
    {% for project in sorted_projects %}
        <article>
            <header>
                {% if project.icon %}
                    {% include {{ project.icon | prepend: 'svg/' }} %}
                {% endif %}
                <div>
                    <h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
                    <div class="subtitle">
                        <time>{% if project.dateIsApprox %}~{% endif %}{{ project.date | date: "%Y" }}</time>
                        &nbsp;&mdash;&nbsp;
                        {{ project.subtitle }}
                    </div>
                </div>
            </header>
            <p>{{ project.description }}</p>
        </article>
    {% endfor %}
</main>