---
title: Work
layout: default
---
<main>
    <header>
        <h2><a href="{% link index.html %}">Hayden/</a></h2>
        <h1>Work</h1>
    </header>
    {% assign sorted_work = site.work | reverse %}
    {% for work in sorted_work %}
        <article>
            <header>
                {% if work.icon %}
                    {% include {{ work.icon | prepend: 'svg/' }} %}
                {% endif %}
                <div>
                    <h1><a href="{{ work.url }}">{{ work.title }}</a></h1>
                    <time>{{ work.start_year }}—{{ work.end_year }}</time>
                </div>
            </header>
            {{ work.description }}
        </article>
    {% endfor %}
</main>