// Light
@font-face {
    font-family: "Open Sans";
    font-weight: 200;
    src: url("../fonts/OpenSans-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/OpenSans-LightItalic.ttf");
    font-display: swap;
}

// Normal
@font-face {
    font-family: "Open Sans";
    font-weight: 400; // normal
    src: url("../fonts/OpenSans-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400; // normal
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf");
    font-display: swap;
}

// Semibold
@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/OpenSans-SemiboldItalic.ttf");
    font-display: swap;
}

// Bold
@font-face {
    font-family: "Open Sans";
    font-weight: 700; // bold
    src: url("../fonts/OpenSans-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 700; // bold
    font-style: italic;
    src: url("../fonts/OpenSans-BoldItalic.ttf");
    font-display: swap;
}

// Extra Bold
@font-face {
    font-family: "Open Sans";
    font-weight: 900;
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
    font-display: swap;
}