<!DOCTYPE html>
<!-- 👋 -->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hayden McAfee's website, with information about Hayden and his work.">
        <title>
            {% if page.title %}
            Hayden / {{ page.title }}
            {% else %}
            Hayden McAfee
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <script type="text/javascript">
            // Fun little function to update accent color throughout the day
            function updateAccentHue()
            {
                var currentDate = new Date();
                var totalMinutes = (currentDate.getUTCHours() * 60) + currentDate.getUTCMinutes();
                var dayElapsed = totalMinutes / (24 * 60);
                document.documentElement.style.setProperty("--accent-hue", 360 * dayElapsed);
            }
            updateAccentHue();
            setInterval(updateAccentHue, (1000 * 60 * 10));
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>