name: Verify Docker Build

on:
  pull_request:
    branches: ["master"]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t jekyll-site:pr-${{ github.event.pull_request.number }} .
